.benefits-you-get {
  color: transparent;
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xl);
  font-weight: 900;
  letter-spacing: 3.60px;
  line-height: 55.4px;
  min-height: 35px;
  min-width: 852px;
  text-align: center;
  white-space: nowrap;
  width: 852px;
}
.biemoji-smile {
  height: 60px;
  left: 36px;
  mix-blend-mode: normal;
  position: absolute;
  top: 89px;
  width: 60px;
}
.bxbxs-donate-heart {
  height: 381px;
  left: 585px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 445px;
}
.codicontwitter {
  align-items: flex-end;
  display: flex;
  height: 20px;
  margin-left: 20px;
  mix-blend-mode: normal;
  padding: 2.3px 1.0px;
  width: 20px;
}
.csp {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 48px;
  margin-top: -4px;
  min-height: 91px;
  min-width: 124px;
  mix-blend-mode: normal;
}
.donors {
  left: 0;
  letter-spacing: 3.36px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 162px;
  white-space: nowrap;
  width: 266px;
}
.donorship {
  align-items: center;
  background-color: var(--zircon-2);
  display: flex;
  flex-direction: column;
  height: 5729px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 1440px;
}
.double-your-impact {
  left: 0;
  letter-spacing: 2.80px;
  line-height: 47.7px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 343px;
}
.ellipse-15 {
  height: 1px;
  margin-bottom: 0.25px;
  margin-left: 57px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 1px;
}
.ellipse-4 {
  height: 1px;
  margin-top: 10.0px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 1px;
}
.ellipse-5 {
  height: 58px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 58px;
}
.flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 227px;
  width: 187px;
}
.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 539px;
  width: 322px;
}
.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: -0.18px;
  min-height: 227px;
  width: 481px;
}
.flex-col-3 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 61.0px;
  min-height: 224px;
  width: 924px;
}
.flex-col-4 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 598px;
  width: 650px;
}
.flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 58px;
  min-height: 607px;
  width: 355px;
}
.flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  min-height: 538px;
  width: 310px;
}
.flex-row {
  align-items: flex-start;
  display: flex;
  height: 539px;
  margin-top: 17px;
  min-width: 650px;
}
.flex-row-1 {
  align-items: flex-end;
  display: flex;
  min-width: 387px;
}
.flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 608px;
  margin-top: 32px;
  min-width: 1063px;
}
.flex-row-3 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  margin-right: 254.75px;
  min-width: 290px;
}
.flex-row-4 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 228px;
  margin-left: 84px;
  min-width: 700px;
}
.fluentpeople-co-nity-20-regular {
  align-self: center;
  height: 60px;
  margin-right: 76.0px;
  margin-top: 50px;
  mix-blend-mode: normal;
  width: 60px;
}
.footer {
  align-items: center;
  display: flex;
  height: 688px;
  left: 0;
  min-width: 1445px;
  padding: 0 2.5px;
  position: absolute;
  top: 0;
}
.footer-1 {
  align-items: flex-start;
  display: flex;
  height: 233px;
  min-width: 1271px;
}
.frame-37 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  min-height: 168px;
  width: 144px;
}
.frame-37-item {
  letter-spacing: 0;
  margin-top: 29px;
  min-height: 20px;
  mix-blend-mode: normal;
}
.frame-79 {
  align-items: flex-start;
  display: flex;
  height: 254px;
  margin-right: 2.0px;
  margin-top: 48px;
  min-width: 1011px;
}
.group {
  align-items: flex-start;
  display: flex;
  height: 8px;
  left: 17px;
  min-width: 13px;
  position: absolute;
  top: 1px;
}
.group-1 {
  align-items: flex-start;
  display: flex;
  height: 33px;
  left: 19px;
  min-width: 46px;
  position: absolute;
  top: 31px;
}
.group-2 {
  align-items: flex-start;
  display: flex;
  height: 4px;
  left: 25px;
  min-width: 17px;
  position: absolute;
  top: 34px;
}
.group-3 {
  height: 60px;
  left: 447px;
  position: absolute;
  top: 153px;
  width: 41px;
}
.group-383 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  min-height: 366px;
  width: 1013px;
}
.group-387 {
  align-items: center;
  display: flex;
  height: 366px;
  margin-left: 22.87px;
  margin-top: 145px;
  min-width: 1151px;
  padding: 0 6.4px;
}
.group-387-1 {
  height: 366px;
  margin-left: 4.0px;
  position: relative;
  width: 1024px;
}
.group-396 {
  align-items: flex-start;
  display: flex;
  height: 291px;
  left: 0;
  min-width: 665px;
  position: absolute;
  top: 35px;
}
.group-397 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 86.0px;
  margin-top: 82px;
  min-height: 419px;
  position: relative;
  width: 1020px;
}
.group-399 {
  height: 397px;
  left: 0;
  position: absolute;
  top: 0;
  width: 481px;
}
.group-4 {
  align-items: flex-start;
  display: flex;
  height: 33px;
  margin-left: 3px;
  min-width: 13px;
}
.group-400 {
  height: 397px;
  left: 337px;
  position: absolute;
  top: 0;
  width: 482px;
}
.group-401 {
  height: 397px;
  left: 662px;
  position: absolute;
  top: 0;
  width: 507px;
}
.group-402 {
  align-items: flex-start;
  display: flex;
  height: 237px;
  justify-content: flex-end;
  left: 0;
  min-width: 1059px;
  position: absolute;
  top: 133px;
}
.group-404 {
  align-items: flex-start;
  display: flex;
  margin-left: 96.0px;
  margin-top: 66px;
  min-width: 1030px;
}
.group-407 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 864px;
  position: absolute;
  top: 0;
  width: 1087px;
}
.group-409 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 129.02px;
  margin-top: 98px;
  min-height: 456px;
  width: 1063px;
}
.group-409-1 {
  height: 232px;
  left: 23px;
  position: absolute;
  top: 0;
  width: 239px;
}
.group-469 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 221px;
  width: 268px;
}
.group-470 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 226px;
  min-height: 222px;
  width: 349px;
}
.group-472 {
  align-items: flex-start;
  display: flex;
  height: 229px;
  left: 100px;
  min-width: 839px;
  position: absolute;
  top: 142px;
}
.group-476 {
  height: 372px;
  margin-left: 70.0px;
  margin-top: 122px;
  position: relative;
  width: 988px;
}
.group-489 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  left: 889px;
  min-width: 170px;
  position: absolute;
  top: 511px;
}
.group-490 {
  align-items: flex-start;
  display: flex;
  margin-right: 5.0px;
  margin-top: 102px;
  min-width: 1445px;
}
.header {
  align-items: center;
  display: flex;
  height: 82px;
  justify-content: flex-end;
  left: 90px;
  min-width: 1224px;
  position: absolute;
  top: 0;
}
.hero {
  align-self: flex-end;
  height: 1816px;
  margin-right: -208px;
  margin-top: -1066px;
  position: relative;
  width: 1658px;
}
.hero-section-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 81px;
  min-height: 580px;
  position: absolute;
  top: 1034px;
  width: 1572px;
}
.image-31 {
  align-self: flex-start;
  height: 1px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 1px;
}
.image-32 {
  height: 1px;
  margin-left: 466.0px;
  margin-top: 2018px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 1px;
}
.image-33 {
  align-self: flex-end;
  height: 1px;
  margin-left: 57px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 1px;
}
.image-34 {
  height: 1px;
  margin-left: 57px;
  margin-top: 0.06px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 1px;
}
.image-35 {
  height: 1px;
  margin-bottom: 0.25px;
  margin-left: 115px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 1px;
}
.image-50 {
  height: 313px;
  left: 0;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 368px;
}
.image-51 {
  height: 313px;
  left: 317px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 224px;
  width: 361px;
}
.image-52 {
  height: 313px;
  left: 649px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 361px;
}
.image-53 {
  height: 313px;
  left: 317px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 361px;
}
.image-54 {
  height: 313px;
  left: 649px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 224px;
  width: 361px;
}
.image-55 {
  height: 313px;
  left: 7px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 224px;
  width: 361px;
}
.make-difference {
  align-self: flex-end;
  letter-spacing: 2.80px;
  line-height: 47.7px;
  margin-top: 43px;
  min-height: 41px;
  min-width: 296px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 296px;
}
.mdihandshake-outline {
  height: 60px;
  left: 741px;
  mix-blend-mode: normal;
  position: absolute;
  top: 91px;
  width: 60px;
}
.noto-v13rd-place-medal {
  align-self: center;
  height: 60px;
  margin-right: 109.0px;
  margin-top: 51px;
  mix-blend-mode: normal;
  width: 60px;
}
.notoman-student {
  align-self: center;
  height: 60px;
  margin-right: 68.0px;
  margin-top: 50px;
  mix-blend-mode: normal;
  width: 60px;
}
.number {
  color: var(--cerise);
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-xl);
  font-weight: 900;
  letter-spacing: 5.60px;
  line-height: 55.4px;
  margin-right: 34.0px;
  min-height: 49px;
  min-width: 116px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 116px;
}
.number-1 {
  color: #0088f0;
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-xl);
  font-weight: 900;
  letter-spacing: 5.60px;
  line-height: 55.4px;
  margin-right: 34.05px;
  margin-top: 30px;
  min-height: 49px;
  min-width: 107px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 107px;
}
.our-csr-donors {
  letter-spacing: 5.60px;
  line-height: 55.4px;
  margin-left: 29.0px;
  margin-top: 120px;
  min-height: 64px;
  min-width: 993px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 993px;
}
.our-donors {
  left: 47px;
  letter-spacing: 5.60px;
  line-height: 55.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 803px;
}
.overlap-group {
  align-self: flex-end;
  height: 537px;
  margin-right: -36.19px;
  margin-top: 16px;
  position: relative;
  width: 1243px;
}
.overlap-group1 {
  height: 864px;
  margin-left: 153.0px;
  margin-top: 132px;
  position: relative;
  width: 1087px;
}
.overlap-group2 {
  height: 1613px;
  left: 9px;
  position: absolute;
  top: 10px;
  width: 1653px;
}
.overlap-group2-1 {
  height: 291px;
  position: relative;
  width: 667px;
}
.overlap-group2-2 {
  height: 397px;
  margin-top: -75.04px;
  position: relative;
  width: 1169px;
}
.overlap-group2-3 {
  height: 306px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1022px;
}
.overlap-group2-4 {
  align-self: flex-end;
  height: 158px;
  margin-top: 31px;
  position: relative;
  width: 915px;
}
.overlap-group2-5 {
  background-color: var(--white-22);
  border-radius: 39.26636505126953px/35.95628356933594px;
  height: 72px;
  margin-right: 40.96px;
  position: relative;
  width: 79px;
}
.overlap-group2-6 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 637px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 128.5px 82.5px;
}
.overlap-group3 {
  height: 492px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1464px;
}
.overlap-group3-1 {
  height: 10px;
  margin-top: 0.38px;
  position: relative;
  width: 30px;
}
.overlap-group3-2 {
  height: 42px;
  margin-right: 14.0px;
  position: relative;
  width: 578px;
}
.overlap-group4 {
  height: 492px;
  position: relative;
  width: 1464px;
}
.overlap-group4-1 {
  height: 381px;
  position: relative;
  width: 1030px;
}
.overlap-group4-2 {
  height: 10px;
  margin-top: -1.02px;
  position: relative;
  width: 15px;
}
.overlap-group5 {
  height: 34px;
  margin-top: -0.67px;
  position: relative;
  width: 14px;
}
.overlap-group5-1 {
  height: 370px;
  margin-right: 4.0px;
  margin-top: 22px;
  position: relative;
  width: 1059px;
}
.overlap-group6 {
  height: 372px;
  left: 0;
  position: absolute;
  top: 0;
  width: 988px;
}
.overlap-group7 {
  height: 232px;
  margin-right: 2.0px;
  margin-top: -60px;
  position: relative;
  width: 266px;
}
.overlap-group8 {
  height: 688px;
  position: relative;
  width: 1445px;
}
.place {
  letter-spacing: 0;
  min-height: 20px;
  mix-blend-mode: normal;
}
.quick-links {
  color: var(--white-22);
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-xs);
  letter-spacing: 4.77px;
  line-height: 29.7px;
  min-height: 33px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.recognition {
  left: 304px;
  letter-spacing: 2.80px;
  line-height: 47.7px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 274px;
}
.rectangle-15 {
  background-color: var(--white2);
  border-radius: 20px;
  height: 533px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 991px;
}
.rectangle-392 {
  height: 774px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 1055px;
  width: 1440px;
}
.rectangle-4 {
  height: 234px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 324px;
}
.rectangle-441 {
  height: 268px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 104px;
  width: 508px;
}
.rectangle-442 {
  height: 268px;
  left: 508px;
  mix-blend-mode: normal;
  position: absolute;
  top: 104px;
  width: 480px;
}
.rectangle-5 {
  height: 246px;
  margin-left: 40px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 358px;
}
.rectangle-6 {
  height: 241px;
  margin-left: 40px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 249px;
}
.span0-1 {
  letter-spacing: 0;
}
.span0-2 {
  letter-spacing: 1.44px;
}
.span1 {
  color: var(--zircon);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl2);
  line-height: 33.3px;
}
.span1-1 {
  color: #17265580;
  letter-spacing: 1.44px;
}
.span1-2 {
  letter-spacing: 0.86px;
}
.span2 {
  line-height: 26.7px;
}
.span2-1 {
  letter-spacing: 0;
  line-height: 26.4px;
}
.span3 {
  color: var(--zircon);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
}
.students-activities {
  letter-spacing: 5.60px;
  line-height: 55.4px;
  margin-right: 29.0px;
  min-height: 64px;
  min-width: 620px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 620px;
}
.subtract {
  height: 492px;
  left: 984px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 480px;
}
.support-us {
  left: 192px;
  letter-spacing: 5.60px;
  line-height: 55.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 620px;
}
.tax-breaks {
  align-self: center;
  letter-spacing: 2.80px;
  line-height: 47.7px;
  margin-right: 105.0px;
  margin-top: 39px;
  min-height: 48px;
  min-width: 140px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.text-1 {
  color: var(--white-22);
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-l);
  left: 0;
  letter-spacing: 3.36px;
  line-height: 41.0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 403px;
  white-space: nowrap;
  width: 523px;
}
.text-10 {
  letter-spacing: 1.89px;
  line-height: 28.4px;
  margin-top: 25px;
  min-height: 158px;
  min-width: 296px;
  mix-blend-mode: normal;
  text-align: center;
  width: 296px;
}
.text-11 {
  letter-spacing: 1.89px;
  line-height: 28.4px;
  margin-top: 29px;
  min-height: 158px;
  min-width: 296px;
  mix-blend-mode: normal;
  text-align: center;
  width: 296px;
}
.text-12 {
  letter-spacing: 1.89px;
  line-height: 28.4px;
  margin-top: 28px;
  min-height: 158px;
  min-width: 296px;
  mix-blend-mode: normal;
  text-align: center;
  width: 296px;
}
.text-13 {
  letter-spacing: 1.89px;
  line-height: 28.4px;
  margin-left: 6px;
  margin-top: 27px;
  min-height: 158px;
  min-width: 296px;
  mix-blend-mode: normal;
  text-align: center;
  width: 296px;
}
.text-14 {
  left: 0;
  letter-spacing: 1.89px;
  line-height: 28.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 915px;
}
.text-15 {
  left: 2px;
  letter-spacing: 1.05px;
  line-height: 28.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1023px;
}
.text-16 {
  letter-spacing: 3.36px;
  line-height: 33.2px;
  margin-right: 2.0px;
  margin-top: 42px;
  min-height: 29px;
  min-width: 347px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 347px;
}
.text-17 {
  letter-spacing: 0;
  line-height: 30.0px;
  margin-left: 48px;
  min-height: 140px;
  mix-blend-mode: normal;
  width: 465px;
}
.text-18 {
  line-height: 29.7px;
  margin-left: 0.17px;
  margin-top: 43px;
  min-height: 125px;
  mix-blend-mode: normal;
  width: 481px;
}
.text-19 {
  color: var(--zircon-2);
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-l);
  letter-spacing: 0;
  line-height: 39.6px;
  margin-bottom: 0.32px;
  margin-left: 11px;
  min-height: 52px;
  min-width: 317px;
  mix-blend-mode: normal;
  width: 317px;
}
.text-2 {
  color: var(--white2);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  left: 0;
  letter-spacing: 2.88px;
  line-height: 104.0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 292px;
  white-space: nowrap;
  width: 1099px;
}
.text-3 {
  left: 0;
  letter-spacing: 3.60px;
  line-height: 55.4px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 667px;
}
.text-4 {
  left: 0;
  letter-spacing: 1.05px;
  line-height: 28.5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 77px;
  width: 516px;
}
.text-5 {
  left: 0;
  letter-spacing: 1.05px;
  line-height: 28.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 176px;
  width: 1022px;
}
.text-6 {
  align-self: flex-end;
  letter-spacing: 2.80px;
  line-height: 47.7px;
  min-height: 41px;
  min-width: 343px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 343px;
}
.text-7 {
  letter-spacing: 2.80px;
  line-height: 47.7px;
  margin-top: 43px;
  min-height: 41px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.text-8 {
  letter-spacing: 1.89px;
  line-height: 28.4px;
  min-height: 158px;
  min-width: 296px;
  mix-blend-mode: normal;
  text-align: center;
  width: 296px;
}
.text-9 {
  align-self: flex-end;
  letter-spacing: 1.89px;
  line-height: 28.4px;
  min-height: 158px;
  min-width: 296px;
  mix-blend-mode: normal;
  text-align: center;
  width: 296px;
}
.vector {
  height: 20px;
  mix-blend-mode: normal;
  width: 10px;
}
.vector-1 {
  height: 1px;
  left: 7px;
  position: absolute;
  top: 5px;
  width: 1px;
}
.vector-10 {
  height: 4px;
  left: 28px;
  mix-blend-mode: normal;
  position: absolute;
  top: 42px;
  width: 11px;
}
.vector-11 {
  height: 10px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 13px;
}
.vector-12 {
  height: 20px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 14px;
  width: 31px;
}
.vector-13 {
  height: 2px;
  left: 17px;
  mix-blend-mode: normal;
  position: absolute;
  top: 50px;
  width: 11px;
}
.vector-14 {
  height: 5px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 5px;
}
.vector-15 {
  height: 8px;
  left: 3px;
  mix-blend-mode: normal;
  position: absolute;
  top: 26px;
  width: 7px;
}
.vector-16 {
  height: 35px;
  left: 10px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 58px;
}
.vector-17 {
  height: 15px;
  mix-blend-mode: normal;
  width: 18px;
}
.vector-18 {
  height: 13px;
  left: 30px;
  mix-blend-mode: normal;
  position: absolute;
  top: 53px;
  width: 7px;
}
.vector-19 {
  height: 17px;
  left: 33px;
  mix-blend-mode: normal;
  position: absolute;
  top: 49px;
  width: 11px;
}
.vector-2 {
  height: 20px;
  margin-left: 20px;
  mix-blend-mode: normal;
  width: 20px;
}
.vector-20 {
  height: 5px;
  margin-left: 8px;
  margin-top: -0.42px;
  mix-blend-mode: normal;
  width: 5px;
}
.vector-21 {
  height: 5px;
  left: 10px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 5px;
}
.vector-22 {
  height: 8px;
  left: 29px;
  mix-blend-mode: normal;
  position: absolute;
  top: 47px;
  width: 9px;
}
.vector-23 {
  height: 29px;
  left: 14px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 39px;
}
.vector-24 {
  height: 9px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 11px;
}
.vector-25 {
  height: 17px;
  left: 23px;
  mix-blend-mode: normal;
  position: absolute;
  top: 49px;
  width: 11px;
}
.vector-26 {
  height: 34px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 29px;
}
.vector-27 {
  height: 3px;
  left: 31px;
  mix-blend-mode: normal;
  position: absolute;
  top: 39px;
  width: 6px;
}
.vector-28 {
  height: 5px;
  margin-top: -0.42px;
  mix-blend-mode: normal;
  width: 5px;
}
.vector-29 {
  height: 10px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 14px;
}
.vector-3 {
  height: 5px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 5px;
}
.vector-30 {
  height: 33px;
  left: 14px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 39px;
}
.vector-4 {
  height: 54px;
  left: 493px;
  mix-blend-mode: normal;
  position: absolute;
  top: 92px;
  width: 54px;
}
.vector-5 {
  height: 37px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 11px;
  width: 60px;
}
.vector-6 {
  height: 15px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 49px;
  width: 41px;
}
.vector-7 {
  height: 3px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 6px;
}
.vector-8 {
  height: 29px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 8px;
}
.vector-9 {
  height: 5px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 6px;
}
.view-more {
  color: #172655b2;
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-m);
  left: 776px;
  letter-spacing: 1.89px;
  line-height: 33.0px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: justify;
  text-decoration: underline;
  top: 492px;
  white-space: nowrap;
  width: 467px;
}
.view-more-1 {
  color: var(--blue-zodiac);
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-m);
  left: 428px;
  letter-spacing: 1.89px;
  line-height: 33.0px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: justify;
  text-decoration: underline;
  top: 271px;
  white-space: nowrap;
  width: 455px;
}
.what-our-donors-say {
  letter-spacing: 5.60px;
  line-height: 55.4px;
  margin-right: 1.01px;
  min-height: 64px;
  min-width: 615px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 615px;
}
.x {
  height: 29px;
  margin-top: 103.64px;
  mix-blend-mode: normal;
  width: 25px;
}
.x-1 {
  height: 29px;
  margin-left: 22px;
  margin-top: 97.64px;
  mix-blend-mode: normal;
  width: 25px;
}
.donate-now {
  letter-spacing: 2.80px;
  line-height: 27.7px;
  margin-left: 10px;
  min-height: 28px;
  min-width: 150px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.fa-soliddonate {
  align-items: flex-start;
  display: flex;
  height: 22px;
  justify-content: center;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 22px;
}
.frame-4 {
  align-items: center;
  background-color: var(--cerise);
  border-radius: 10px;
  display: flex;
  height: 53px;
  justify-content: flex-end;
  margin-top: 23px;
  min-width: 219px;
  mix-blend-mode: normal;
  padding: 0 17.5px;
}
.frame-5.frame-4 {
  margin-right: 5.0px;
  margin-top: unset;
  position: relative;
}
.vector-31 {
  height: 23px;
  margin-top: -0.5px;
  mix-blend-mode: normal;
  width: 23px;
}
.donors-1 {
  letter-spacing: 0;
  margin-left: 50px;
  min-height: 25px;
  mix-blend-mode: normal;
}
.frame-20 {
  align-items: flex-start;
  display: flex;
  height: 25px;
  margin-left: 237px;
  margin-top: 11.0px;
  min-width: 527px;
}
.mentorship {
  letter-spacing: 0;
  margin-left: 50px;
  min-height: 25px;
  min-width: 121px;
  mix-blend-mode: normal;
}
.place-1 {
  letter-spacing: 0;
  min-height: 25px;
  min-width: 63px;
  mix-blend-mode: normal;
}
.who-we-are {
  letter-spacing: 0;
  margin-left: 50px;
  min-height: 25px;
  min-width: 118px;
  mix-blend-mode: normal;
}
.contact {
  align-items: center;
  background-color: var(--white2);
  border-radius: 5px;
  display: flex;
  height: 25px;
  justify-content: flex-end;
  margin-left: 57px;
  margin-top: 15.0px;
  min-width: 108px;
  mix-blend-mode: normal;
  padding: 0 10.5px;
}
.contact-us {
  letter-spacing: 0;
  min-height: 20px;
  min-width: 85px;
  mix-blend-mode: normal;
}
.login {
  align-items: center;
  background-color: var(--white2);
  border-radius: 5px;
  display: flex;
  height: 25px;
  justify-content: flex-end;
  margin-left: 39px;
  margin-top: 15.0px;
  min-width: 76px;
  mix-blend-mode: normal;
  padding: 0 13.5px;
}
.login-1 {
  letter-spacing: 0;
  min-height: 20px;
  min-width: 47px;
  mix-blend-mode: normal;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900|Lato:400,700,900|Poppins:400,700");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
